.circle-button {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    /* Add any other shared styles as needed */
  }
  
  .free {
    background-color: rgb(54, 92, 70); /* Green color for free tables */
  }
  
  .occupied {
    background-color: #e43a27; /* Red color for occupied tables */
  }

  .calling {
    background-color: #27c4e4;
  }