.menu-button {
    z-index: 1;
    position: fixed;   /* Keeps the box fixed at the bottom */
    bottom: 0;         /* Positions the box at the bottom of the screen */
    left: 50%;         /* Start the box at the middle of the screen */
    transform: translateX(-50%);  /* Shifts the box back by half its width to truly center it */
    padding: 10px;     /* Adds some padding around the content inside the box */
    margin-bottom: 40px;
    border-radius: 0;
}

.custom-button {
    font-size: 2.5rem;
    padding: 24px;
};