html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0; 
    background-color: rgb(255, 245, 238); 
}

.nav_Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255); 
    font-family: 'Arial', sans-serif; 
    height: 200vh; 
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}



.image-container {
    width: 35vw;        
    height: 40vh;       
    background-color: #ffffff;  
    margin: auto;       
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 20px;
    margin-top: 5vh; 
    position: relative;

    border: 1px solid black;
}

.content-container {
    display: flex;       
    justify-content: center; 
    align-items: top;    
    height: 50vh;          
    z-index: 1;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    margin: auto;
}

.item-name, .item-price {
    position: absolute; 
    bottom: 10px;       
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;       
    border-radius: 5px;
    font-size: 30px; 
    width: 150px;             
    text-align: center;       
    z-index: 1;
}

.item-name {
    left: 10px; 
    z-index: 1;
}

.item-price {
    right: 10px; 
    z-index: 1;
}

.description-container {
    padding: 20px;
    background-color: rgb(41, 175, 193); 
    border-radius: 15px;
    margin-top: 55px;
    width: 40vw;
    height: 40vh;
    display: inline-block;
    z-index: 1;
    font-size: 5px;
}

.description-container p{
    color: #f0f0f0;
    opacity: 1;
}

.ingredients-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 30px;
    margin-top: 20px;
    width: 100%;
    z-index: 1;
}

.ingredients-box li {
    display: flex;
    align-items: center; 
    flex-direction: column;
    width: 100%; 
    justify-content: space-between; 
    padding-bottom: 10px;
    z-index: 1;
}

.ingredient-name {
    flex-grow: 1; 
    text-align: left; 
    padding-right: 10px;
}

.ingredient-action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    z-index: 1;
    background-color: aliceblue;
    border-radius: 50%;
}

.add-to-cart-section {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    width: 100%; 
    margin-top: 20px;
}

.ingredients-box ul {
    list-style-type: none; 
    padding: 0;
    margin-left: 20vw;
    z-index: 1;

}

.action-buttons button {
    margin-left: 5px;
    z-index: 1;
    
}

.ingredient-button-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.add-to-cart-section {
    margin-left: 140px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    width: 100%;
    z-index: 1;
}

.add-to-cart-btn {
    margin-top: 50px;
    width: 15vw;
    height: 8vh;
    font-size: 50px;
    z-index: 1;
}

.add-to-cart-section button {
    background-color: #0d6efd;
    color: white;
    padding: auto auto;  
    border-radius: 50px;
    font-size: 20px;     
    border: none;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1;
}

.add-to-cart-section button:hover {
    background-color: rgb(5, 0, 139);
    z-index: 1;
}

.background_image {
    min-height: 150vh; 
    background-image: url('/public/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    position: relative; 
    z-index: 0;
}