.nav_Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF; /* White background color */
    font-family: 'Arial', sans-serif; /* Sample font; you can replace this with any font of your choice */
    height: 100vh; /* Occupy full viewport height */
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}

.cart-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  .cart-items {
    margin-top: 20px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .cart-summary {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }