.categoryButtons {
    border: 2px solid #8D6E63;
    width: 300px;
    height: 100px;
    padding: 16px 24px; /* Adjust the padding values to make the button taller and wider */
    font-size: 18px;   /* Adjust the font size as needed */
    margin-bottom: 10px;
    background-color: #719579;
}