/* LandingPage.css */

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF; /* White background color */
    font-family: 'Arial', sans-serif; /* Sample font; you can replace this with any font of your choice */
    height: 100vh; /* Occupy full viewport height */
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}

/* This is to give spacing between components */
.landing-page > *:not(:last-child) {
    margin-bottom: 20px;
}

.cover-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    z-index: 0;
    opacity: 0.8;
}

.logo {
    z-index: 1;
    position: fixed;   /* Keeps the box fixed at the bottom */
    top: 0;         /* Positions the box at the bottom of the screen */
    left: 50%;         /* Start the box at the middle of the screen */
    transform: translateX(-50%);
    height: 20vh;
}

