.moreDetailsButton{
    margin-right: 1px; /* Adjust the margin as needed */
    width: 100%
  }

.addIcon{
    font-size: 22px; /* Adjust the size as needed */
    border-radius: 0;
}

.quantity-control {
    display: flex;
    align-items: center;
  }
  
  .quantity-add-button {
    margin: 4px; /* Adjust the margin as needed */
    width: 80px;
  }


.quantity-subtract-button{
    margin: 4px; /* Adjust the margin as needed */
    width: 80px;
}

  
  .quantity-display {
    margin: 0 25px; /* Adjust the left and right margin as needed */
    font-size: 20px;
    font-weight: bold;
  }

  .foodItemCard {
    border: 2px solid #8D6E63;
    width: 20rem;
    max-height: 400px;
  }